body {
  font-family: "Arial", sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 24px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.content-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 2200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container {
  width: 100%;
  margin: 20px 0;
}

.chart-container canvas {
  width: 100% !important;
  height: auto !important;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.col {
  flex: 1 1 45%;
  box-sizing: border-box;
}

.col-100 {
  flex: 1 1 100%;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
  margin-top: 20px;
}

/* Style for buttons */
.btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #007bff;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}
